<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-52-31-94-195.eu-west-1.compute.amazonaws.com:5432/d30aknjtcubthn</property>
        <property name="hibernate.connection.username">gfrakwenpllmio</property>
        <property name="hibernate.connection.password">d8f177e6831a068fbd084d553e326251294746e8439d64eb5f91431135bdb370</property>
  
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
<!--         <property name="hibernate.hbm2ddl.auto">create</property>
 -->
        <mapping class="easysurvey.dataModel.Survey"/>
        <mapping class="easysurvey.dataModel.Question"/>
        <mapping class="easysurvey.dataModel.PotentialQuestionAnswer"/>
        <mapping class="easysurvey.dataModel.PotentialMetricAnswer"/>
        <mapping class="easysurvey.dataModel.Interviewee"/>
        <mapping class="easysurvey.dataModel.Metric"/>
        <mapping class="easysurvey.dataModel.QuestionAnswer"/>
        <mapping class="easysurvey.dataModel.MetricAnswer"/>

    </session-factory>
</hibernate-configuration>
