<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-247-169-129.eu-west-1.compute.amazonaws.com:5432/d2ei0dlthkookt</property>
        <property name="hibernate.connection.username">ptkdnyisiiddau</property>
        <property name="hibernate.connection.password">55778b312af0511f1088640ad9af8696c4b513b1483db08392ec6567eec0866e</property>
  
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        
         <property name="hibernate.hbm2ddl.auto">update</property>
<!--         <property name="hibernate.hbm2ddl.auto">create</property>
 -->
        <mapping class="easysurvey.dataModel.Survey"/>
        <mapping class="easysurvey.dataModel.Question"/>
        <mapping class="easysurvey.dataModel.PotentialQuestionAnswer"/>
        <mapping class="easysurvey.dataModel.PotentialMetricAnswer"/>
        <mapping class="easysurvey.dataModel.Interviewee"/>
        <mapping class="easysurvey.dataModel.Metric"/>
        <mapping class="easysurvey.dataModel.QuestionAnswer"/>
        <mapping class="easysurvey.dataModel.MetricAnswer"/>

    </session-factory>
</hibernate-configuration>
