<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="dialect">easysurvey.persistence.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:survey.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <mapping class="easysurvey.dataModel.Survey"/>
        <mapping class="easysurvey.dataModel.Question"/>
        <mapping class="easysurvey.dataModel.PotentialQuestionAnswer"/>
        <mapping class="easysurvey.dataModel.PotentialMetricAnswer"/>
        <mapping class="easysurvey.dataModel.Interviewee"/>
        <mapping class="easysurvey.dataModel.Metric"/>
        <mapping class="easysurvey.dataModel.QuestionAnswer"/>
        <mapping class="easysurvey.dataModel.MetricAnswer"/>

    </session-factory>
</hibernate-configuration>
